.Rproj.user/*


.Rproj.user


*.Rhistory
*.Rapp.history
*.DS_Store
analysis/ex

*.html

notes.rtf

data/shifts_eda_cache/
data/shifts_eda_files/

condor/logs/*
.bash_history

model/shots/output/chkpt*